.track{
    display: flex;
    direction: column;
    align-items: center;
    border-radius: .25rem;
    padding: .75rem;
}

.track:hover{
    background-color: var(--overlay);
}

.trackAction{
    width: 2rem;
    height: 2rem;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    opacity: 1;
    filter: contrast(0);
    transition: all .2s ease-in-out;
}

.trackAction:hover{
    background-color: transparent;
    border: none;
    filter: contrast(1);
    background-color: rgba(0, 0, 0, 0.1);
}

.trackAction:active{
    filter: contrast(0);
    background-color: rgba(0, 0, 0, 0.2);
}

@media (prefers-color-scheme: dark) {
    .trackAction:active{
        filter: contrast(2);
    }
}

.trackInformation{
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}


.trackName{
    color: var(--primaryText);
    font-size: 1rem;
    font-weight: 500;
    padding-bottom: .25rem;
}

.trackArtist{
    color: var(--secondaryText);
    font-size: .9rem;
}