.TrackList {
    display: flex;
    flex-direction: column;
    min-height: 65.031px;
    max-height: min-content;
    animation: unfold 2s ease-out 1;
}

.searchResultList{
    animation: unfold 2s ease-out 1;
}