.header{
  text-align: center;
  margin-top: 1rem;
}

.App {
  margin: 2rem auto;
  max-width: 36rem;
  padding: 1.5rem;
  border-radius: 1rem;
  border: 1px solid var(--accent);
  background-color: var(--foreground);
}

.intro{
  text-align: left;
  margin: 2rem 0 3rem 0;
}