.stickySearch{
  position: sticky;
  top: 0;
  padding: .5rem 0 .5rem 0;
  z-index: 16;
  background-color: var(--background);
  transition: all .6s ease-in-out;
}

.searchInput{
    width: 100%;
    display: flex;
    align-items: center;
}

.searchBar{
    width: 100%;
}
.resetButton{
    border-radius: 0.3rem;
    width: 2.3rem;
    height: 2.3rem;
    background-color: transparent;
    background: transparent;
    border: none;
    color: var(--primaryText);
    font-size: 1rem;
    font-weight: 500;
    margin-left: -2.3rem;
    text-align: center;
    filter: contrast(0);
    transition: all 0.2s ease-in-out;
  }
  .resetButton:hover{
    filter: contrast(1);
    background-color: transparent;
    background: transparent;
  }
  
  .resetButton:active{
    background-color: transparent;
    background: transparent;
    filter: contrast(2);
  }
  
  .activeIcon {
    margin: 0 auto;
    width: 1.125rem;
    height: 1.125rem;
    background-size: cover; 
    background-position: center; 
    transition: all 0.4s ease-in-out;
  }
  
  .activeIcon:hover {
    filter: contrast(2);
  }

