.playlistWrap{
    /* overflow: hidden; */
    border-radius: 1.5rem 1.5rem 0 0;
    border: 1px solid red;
}

.playlist {
    padding: 0 0 6rem 0;
    border: 1px solid var(--foreground);
    border-bottom: none;
    min-height: 100vh;
    /* backgroundcolor: var(--foreground); */
    border-radius: 1.5rem 1.5rem 0 0;
    margin-top: 3rem;
    z-index: 200;
}

.playlistContainer {
    border-radius: 0.5rem;
    padding-top: .5rem;
}

.playlistInput {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0;
    margin: 0;
    width: 100%;
    border-radius: 1.5rem 1.5rem 0 0;
    padding: 1rem 1rem 0rem 1rem;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.1);
}


.playlistBar {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.5rem 1rem .5rem 1rem;
    justify-content: space-between;
    margin: 0;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 32;
    border-bottom: 1px solid var(--overlay);
    background-color: rgba(0, 0, 0, 0.1);
    transition: background-color .2s ease-out;
}


.testPlaceholder {
    height: 80vh;
    background: teal;
}

.playlistName {
    min-width: 100%;
    background-color: transparent;
    border: 0;
    border-radius: 0;
    border: 0;
    margin-top: -1rem;
    font-size: 1.8rem;
    text-align: center;
    font-weight: 600;
    transition: all 0.2s ease-in-out;
    z-index: 1;
    padding: 1.5rem 1.5rem 1.5rem 1.5rem;
}

.playlistName::placeholder {
    opacity: .45;
    color: var(--primaryText);
    transition: all 0.2s ease-in-out;
}

.playlistName::-webkit-input-placeholder {
    color: var(--primaryText);
}

.playlistName:hover {
    border: 0;
    background-color: transparent;
}

.playlistName:hover::placeholder {
    opacity: .8;
}

.playlistName:focus {
    border: 0;
    background-color: transparent;
}

.playlistActions {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    gap: .5rem;

    margin: 0;
}

@keyframes heartbeat {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    50% {
        transform: scale(1.2);
        rotate: -5deg;
        opacity: 0.7;
        filter: contrast(2);
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

#heartIconFilled {
    animation: heartbeat 1s ease-in-out 2;
}