

.playlist {
    padding: 1rem;
    overflow: visible;
    min-height: 60vh;
    border: 1px solid var(--foreground);
    border-bottom: none;
    /* background-color: var(--foreground); */
    border-radius: 1.5rem 1.5rem 0 0;
    background-image: linear-gradient(180deg, rgba(255,255,255,0.1) 0%, var(--background) 100%);
}

.playlistContainer {
    border: 1px solid var(--accent) !important;
    border-radius: 0.5rem !important;
    padding: 0 !important;
    background-color: var(--input);
}

.playlistInput {
    display: flex;
    overflow: visible;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin: 0;
    width: 100%;
}

.wrap {
    overflow: visible;
}

.playlistName {
    min-width: 100%;
    background-color: transparent;
    border: 0;
    border-radius: 0;
    border-bottom: 1px solid var(--input);
    margin-bottom: 1rem;
    font-size: 2rem;
    text-align: center;
    font-weight: 600;
    transition: all 0.2s ease-in-out;
}

.playlistName::placeholder {
    opacity: .45;
    color: var(--primaryText);
    transition: all 0.2s ease-in-out;
}

.playlistName::-webkit-input-placeholder {
    color: var(--primaryText);
}

.playlistName:hover {
    border-bottom: 1px solid var(--input);
    background-color: transparent;
}

.playlistName:hover::placeholder {
    opacity: .8;
}

.playlistName:focus {
    border-bottom: 1px solid var(--primaryText);
    background-color: transparent;
    border-bottom: 1px solid var(--primaryText);
}


.playlistBar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    overflow: visible;
    margin: 0 0rem .5rem 0;
    width: 100%;
}

.playlistActions {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    gap: .5rem;
    overflow: visible;
    margin: 0;
}

@keyframes heartbeat {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    50% {
        transform: scale(1.2);
        rotate: -5deg;
        opacity: 0.7;
        filter: contrast(2);
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

#heartIconFilled {
    animation: heartbeat 1s ease-in-out 2;
}