.playlistWrap{
    /* overflow: hidden; */
    border-radius: 1.5rem;
    border: 1px solid red;
}

.playlist {
    padding: 0;
    border: 1px solid var(--foreground);
    min-height: 100vh;
    border-radius: 1.5rem 1.5rem;
    margin-top: 3rem;
    z-index: 200;
}

.playlistContainer {
    border-radius: 0.5rem;
    padding-top: .5rem;
}

.playlistInput {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0;
    margin: 0;
    width: 100%;
    border-radius: 1.5rem 1.5rem 0 0;
    padding: 1rem 1rem 0rem 1rem;
    z-index: 2;
    background-color: var(--tintedOverlay);
}


#playlistNameWrap{
    margin-bottom: 0;
}
.playlistBar {
    display: flex;
    flex-direction: column;
    padding: 0rem 1rem .5rem 1rem;
    margin: 0;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 32;
    border-bottom: 1px solid var(--overlay);
    background-color: var(--tintedOverlay);
    transition: background-color .2s ease-out;
}

.verticalWrap{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.nameBanner{
    align-items: center;
    text-align: center;
    opacity: 0;
    transition: background-color .2s ease-out;
    padding: .5rem;
    cursor: pointer;
    height: 2rem;
}

.nameBanner p{
    font-size: .9rem;
    color: var(--secondaryText);
}

.testPlaceholder {
    height: 80vh;
    background: teal;
}

.playlistName {
    min-width: 100%;
    background-color: transparent;
    border: 0;
    border-radius: 0;
    border: 0;
    margin-top: -1rem;
    font-size: 1.8rem;
    text-align: center;
    font-weight: 600;
    transition: all 0.2s ease-in-out;
    z-index: 1;
    padding: 1.5rem 1.5rem 0.5rem 1.5rem;
}

.playlistName::placeholder {
    opacity: .45;
    color: var(--primaryText);
    transition: all 0.2s ease-in-out;
}

.playlistName::-webkit-input-placeholder {
    color: var(--primaryText);
}

.playlistName:hover {
    border: 0;
    background-color: transparent;
}

.playlistName:hover::placeholder {
    opacity: .8;
}

.playlistName:focus {
    border: 0;
    background-color: transparent;
}

.playlistActions {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    gap: .5rem;

    margin: 0;
}

#playlistName-tooltip{
    margin-top: 1.25rem !important;
}


@keyframes heartbeat {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    50% {
        transform: scale(1.2);
        rotate: -5deg;
        opacity: 0.7;
        filter: contrast(2);
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

#heartIconFilledAdded {
    animation: heartbeat 1s ease-in-out 2;
}

@keyframes shake {
    0%, 100% {
        transform: translateX(0);
    }
    10%, 30%, 50%, 70%, 90% {
        transform: translateX(-4px);
    }
    20%, 40%, 60%, 80% {
        transform: translateX(4px);
    }
}

#heartIconFilledStatic {
    animation: shake 1s ease-in-out 1;
}



@keyframes sad {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 0;
        transform: translateY(20px);
    }
}


#heartIconFilledRemoved {
    animation: sad 1s ease-in-out 1;
}

@media (prefers-color-scheme: light) {
    :root{
        --tintedOverlay: rgba(255, 255, 255, 0.1);
    }
    .playlist{border: 1px solid var(--accent);}
}
@media (prefers-color-scheme: dark) {
    :root{
        --tintedOverlay: rgba(0, 0, 0, 0.1);
    }
    .playlist{border: 1px solid var(--foreground);}
}