@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600&family=Satisfy&display=swap');

* {
  font-family: 'IBM Plex Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: -0.025px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --green: #42B556;
  --white: #fff;
  --black: #000;
  --gray02: #fcfcfc;
  --gray05: #f6f8f8;
  --gray10: #F2F4F5;
  --gray20: #DEE0E1;
  --gray30: #C0C2C3;
  --gray50: #2E333A;
  --gray90: #1D2229;
}

::-moz-selection {
  color: var(--green);
  background: var(--background);
}

::selection {
  color: var(--green);
  background: var(--background);
}

.scrollContainer{
  border: 1px solid var(--accent) !important;
  border-radius: 0.75rem !important;
  background-color: var(--input);
  padding: 0 !important;
}
.ps__rail-y{
  margin: 4px 2px !important;
  background-color: transparent !important;
  overflow: visible !important;
}
.ps__rail-y:hover{
  background-color: transparent !important;
  overflow: visible !important;
}

.ps__rail-y:active{
  background-color: transparent !important;
}

body {
  background-color: var(--background);
}

h1{
  font-family: 'Satisfy', cursive;
  color: var(--primaryText);
  letter-spacing: -0.2px;
  font-size: 2.4rem;
  margin: 0;
}

h2{
  color: var(--secondaryText);
  font-size: 1.125rem;
  font-weight: 600;
}

p{
  color: var(--secondaryText);
  font-size: 1.125rem;
  line-height: 1.35;
}

.highlight{
  color: var(--primaryHighlight);
}

input{
  font-size: 1rem;
  padding: .75rem 0.75rem;
  border-radius: 0.5rem;
  flex: 1 0 0;
  border: 1px solid var(--input);
  background-color: var(--input);
  color: var(--primaryText);
  transition: all 0.2s ease-in-out;
}

input:focus{
  outline: none;
  border-color: var(--primaryHighlight);
}

button{
  font-weight: 500;
  font-size: 1rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  transition: all .2s ease-in-out;
  cursor: pointer;
  text-align: center;
}

button:disabled{
  opacity: .6;
  cursor: not-allowed;
  transition: all .2s ease-in-out;
}

.buttonWrap{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.textButton{
  background-color: transparent;
  background: none;
  border: 1px solid transparent;
  color: var(--primaryText);
  font-weight: 400;
  opacity: .6;
  font-size: 1rem;
  animation-delay: 2s;
  padding: .5rem 1rem;
}

.textButton:hover{
  background: none;
  background-color: var(--overlay);
  border: 1px solid var(--overlay);
  color: var(--primaryText);
  opacity: .8;
}

.textButton:active{
  background: none;
  background-color: var(--overlay);
  color: var(--primaryText);
  border: 1px solid var(--foreground);
  opacity: 1;
}

.textButton:disabled{
  opacity: 0;
  display: none;
}

.textButton:disabled:hover{
  background: none;
  border: 1px solid var(--background);
  color: var(--primaryText);
  opacity: .4;
}

@keyframes fadeIn { 
  0% { 
    opacity: 0; 
  } 
  100% { 
    opacity: 1; 
  } 
}


.cta{
  min-width: 8.2rem;
}

form{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.Icon {
  width: 1.125rem;
  height: 1.125rem;
  background-size: cover; 
  background-position: center center; 
  transition: all 0.4s ease-in-out;
}


.staticIcon {
  width: 1.125rem;
  height: 1.125rem;
  background-size: cover; 
  background-position: center center; 
  transition: all 0.4s ease-in-out;
}

.staticIcon:hover {
  cursor: default;
  filter: contrast(2);
}

.Label{
  display: flex;
  flex-direction: row;
  align-items: center;
  flex: 1 0 0;
  gap: .5rem;
  margin: 1rem 0 1rem 0;
  overflow: visible;
  min-width: 100%;
}

.placeholder{
  box-sizing: border-box;
  max-height: 65.031px;
  height: 278.125px; 
  text-align: center;
  border-radius: 0.5rem;
  overflow: hidden;
}

.placeholder p{
  color: var(--secondaryText);
  opacity: .35;
  font-size: .9rem;
  line-height: 65.031px;
}

.tooltip{
  padding: .5rem !important;
  margin-top: 0.25rem !important;
  border-radius: .25rem !important;
  border: 1px solid var(--background) !important;
  /* box-shadow: 0px 16px 48px 0px rgba(0, 0, 0, 0.22) !important; */
}

#flexPlaceholder{
  animation: fold .4s ease-out 1;
}
#searchIcon {
  background: url('./assets/icons/search.svg') no-repeat;
}

#editIcon {
  background: url('./assets/icons/edit.svg') no-repeat;
}


#playIcon {
  background: url('./assets/icons/play.svg') no-repeat;
}

#heartIconOutline {
  background: url('./assets/icons/heart-outline.svg') no-repeat;
}
#heartIconFilled {
  background: url('./assets/icons/heart-filled.svg') no-repeat;
}

#plusIcon {
  background: url('./assets/icons/plus.svg') no-repeat;
}
#minusIcon {
  background: url('./assets/icons/minus.svg') no-repeat;
}

#crossIcon {
  background: url('./assets/icons/cross.svg') no-repeat;
  background-position: center;
}

#checkIcon {
  background: url('./assets/icons/check.svg') no-repeat;
  background-position: center;
}

@media (prefers-color-scheme: light) {
  :root {
    --primaryHighlight: var(--gray50);
    --secondaryHighlight: var(--gray90);
    --tertiaryHighlight: var(--black);
    --background: var(--gray10);
    --foreground: var(--white);
    --accent: rgba(198, 197, 202, 0.5);
    --primaryText: var(--black);
    --secondaryText: var(--gray90);
    --overlay: rgba(0, 0, 0, 0.05);
    --input: var(--gray10);
    --input-hover: rgba(0, 0, 0, 0.05);
    --input-top: rgba(0, 0, 0, 0.15);
  }


  button{
    border: 1px solid var(--primaryHighlight);
    background-color: var(--primaryHighlight);
    background: linear-gradient(180deg, #000 0%, #333 100%);
    color: var(--white);
  }

  button:hover{
    background-color: var(--tertiaryHighlight);
    background: linear-gradient(180deg, #000 0%, #000 100%);
    border-color: var(--secondaryHighlight);
    color: var(--gray10);
  }

  button:disabled:hover{
    border: 1px solid var(--primaryHighlight);
    background-color: var(--primaryHighlight);
    color: var(--white);
  }

  button:active{
    background-color: var(--secondaryHighlight);
    border-color: var(--primaryHighlight);
  }

  input:hover{
    background-color: var(--input-hover);
  }

  .tooltip{
    background: none !important;
    background-color: var(--black) !important;
    border: 1px solid var(--gray10) !important;
  }

}

@media (prefers-color-scheme: dark) {
  :root {
    --primaryHighlight: var(--white);
    --secondaryHighlight: var(--white);
    --tertiaryHighlight: var(--gray10);
    --background: var(--gray90);
    --foreground: var(--gray50);
    --accent: rgba(61, 60, 66, 0.5);
    --primaryText: var(--white);
    --secondaryText: var(--gray10);
    --input: rgba(0, 0, 0, 0.15);
    --input-hover: rgba(0, 0, 0, 0.25);
    --input-top: rgba(0, 0, 0, 0.40);
    --overlay: rgba(0, 0, 0, 0.15);
  }

  .placeholder{
    border-color: var(--overlay);
  }
  button{
    border: 1px solid var(--gray10);
    background: linear-gradient(180deg, #ffffff 0%, #c9c9c9 100%);
    color: var(--black);
  }
  button:hover{
    background: linear-gradient(180deg, #ffffff 0%, #ffffff 100%);
    color: var(--black);
  }

  button:disabled:hover{
    border: 1px solid var(--gray10);
    background-color: var(--primaryHighlight);
    color: var(--black);
  }

  button:active{
    background-color: var(--gray30);
  }

  input:hover{
    background-color: var(--input-hover);
  }

  .tooltip{
    background: none !important;
    background-color: var(--gray50) !important;
    border: 1px solid var(--foreground) !important;
  }

}

@keyframes unfold {
  0% {
      max-height: 0;
      opacity: 0;
  }
  40%{
      opacity: 1;
  }
  100% {
      max-height: 900px;
  }
}

@keyframes fold {
  0% {
    max-height: 278.125px;
    opacity: 0;
  }
  40%{
      opacity: 1;
  }
  100%{
    max-height: 65.031px;
  }
}