@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600&family=Satisfy&display=swap');

* {
  font-family: 'IBM Plex Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: -0.025px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --white: #fff;
  --black: #000;
  --gray02: #fcfcfc;
  --gray05: #f6f8f8;
  --gray10: #F2F4F5;
  --gray20: #DEE0E1;
  --gray30: #C0C2C3;
  --gray50: #2E333A;
  --gray90: #1D2229;
}


body {
  background-color: var(--background);
}

h1{
  font-family: 'Satisfy', cursive;
  color: var(--primaryText);
  letter-spacing: -0.2px;
  font-size: 2.4rem;
  margin: 0;
}

h2{
  color: var(--secondaryText);
  font-size: 1.125rem;
  font-weight: 600;
}

p{
  color: var(--secondaryText);
  font-size: 1.125rem;
  line-height: 1.35;
}

.highlight{
  color: var(--primaryHighlight);
}

input{
  font-size: 1rem;
  padding: 0.5rem;
  border-radius: 0.4rem;
  flex: 1 0 0;
  border: 1px solid var(--input);
  background-color: var(--input);
  color: var(--primaryText);
  transition: all 0.2s ease-in-out;
}

input:focus{
  outline: none;
  border-color: var(--primaryHighlight);
}

button{
  font-weight: 500;
  font-size: 1rem;
  padding: 0.5rem;
  border-radius: 0.4rem;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  text-align: center;
}

button:disabled{
  opacity: .6;
  cursor: not-allowed;
  transition: all 2s ease-in-out;
}




.cta{
  min-width: 8.2rem;
}

form{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.Icon {
  width: 1.125rem;
  height: 1.125rem;
  background-size: cover; 
  background-position: center center; 
  transition: all 0.4s ease-in-out;
}


.staticIcon {
  width: 1.125rem;
  height: 1.125rem;
  background-size: cover; 
  background-position: center center; 
  transition: all 0.4s ease-in-out;
}

.staticIcon:hover {
  cursor: default;
  filter: contrast(2);
}

.Label{
  display: flex;
  flex-direction: row;
  align-items: center;
  flex: 1 0 0;
  gap: .5rem;
  margin: 1rem 0 1rem 0;
}

.placeholder{
  box-sizing: border-box;
  border: 1px solid var(--input);
  min-height: 80.438px;
  text-align: center;
  border-radius: 0.4rem;
}

.placeholder p{
  color: var(--secondaryText);
  opacity: .35;
  font-size: .8rem;
  line-height: 80.438px;
}

#searchIcon {
  background: url('./icons/search.svg') no-repeat;
}

#editIcon {
  background: url('./icons/edit.svg') no-repeat;
}


#playIcon {
  background: url('./icons/play.svg') no-repeat;
}

#heartIconOutline {
  background: url('./icons/heart-outline.svg') no-repeat;
}
#heartIconFilled {
  background: url('./icons/heart-filled.svg') no-repeat;
}

#plusIcon {
  background: url('./icons/plus.svg') no-repeat;
}
#minusIcon {
  background: url('./icons/minus.svg') no-repeat;
}

#crossIcon {
  background: url('./icons/cross.svg') no-repeat;
  background-position: center;
}

@media (prefers-color-scheme: light) {
  :root {
    --primaryHighlight: var(--gray50);
    --secondaryHighlight: var(--gray90);
    --tertiaryHighlight: var(--black);
    --background: var(--gray10);
    --foreground: var(--white);
    --accent: rgba(198, 197, 202, 0.5);
    --primaryText: var(--black);
    --secondaryText: var(--gray90);
    --overlay: rgba(0, 0, 0, 0.05);
    --input: var(--gray10);
    --input-hover: rgba(0, 0, 0, 0.05);
    --input-top: rgba(0, 0, 0, 0.15);
  }

  .placeholder{
    border: 1px solid var(--overlay);
  }

  button{
    border: 1px solid var(--primaryHighlight);
    background-color: var(--primaryHighlight);
    color: var(--white);
  }

  button:hover{
    background-color: var(--tertiaryHighlight);
    border-color: var(--secondaryHighlight);
    color: var(--gray10);
  }

  button:disabled:hover{
    border: 1px solid var(--primaryHighlight);
    background-color: var(--primaryHighlight);
    color: var(--white);
  }
  

  button:active{
    background-color: var(--secondaryHighlight);
    border-color: var(--primaryHighlight);
  }

  input:hover{
    background-color: var(--input-hover);
  }

}

@media (prefers-color-scheme: dark) {
  :root {
    --primaryHighlight: var(--white);
    --secondaryHighlight: var(--white);
    --tertiaryHighlight: var(--gray10);
    --background: var(--gray90);
    --foreground: var(--gray50);
    --accent: rgba(61, 60, 66, 0.5);
    --primaryText: var(--white);
    --secondaryText: var(--gray10);
    --input: rgba(0, 0, 0, 0.15);
    --input-hover: rgba(0, 0, 0, 0.25);
    --input-top: rgba(0, 0, 0, 0.40);
    --overlay: rgba(0, 0, 0, 0.15);
  }

  .placeholder{
    border-color: var(--overlay);
  }
  button{
    border: 1px solid var(--gray10);
    background-color: var(--primaryHighlight);
    color: var(--black);
  }
  button:hover{
    background-color: var(--gray20);
    color: var(--black);
  }

  button:disabled:hover{
    border: 1px solid var(--gray10);
    background-color: var(--primaryHighlight);
    color: var(--black);
  }

  button:active{
    background-color: var(--gray30);
  }

  input:hover{
    background-color: var(--input-hover);
  }
  
}